#myNav {
    display: none;
}

#mobileMenu {
    display: none;
}

#mobFooter {
    display: none;
}

@media only screen and (max-width: 600px) {

    #topHeadertwo {
        display: none;
    }

    #mobileMenu {
        display: block;
        display: flex;
        align-items: center;
        padding: 10px 25px;
    }

    .topHeaderStyle {
        font-size: 10px;
    }

    .phone svg {
        font-size: 18px;
    }

    .email svg {
        font-size: 18px;
    }

    .mobLeft img {
        width: 120px;
    }



    #mobileMenu {
        display: block;
        display: flex;
        align-items: center;
        padding: 10px 25px;
    }

    #myNav {
        display: block;
    }


    /* Overlay styles */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 0%;
        /* hidden initially */
        height: 100%;
        background: var(--primary);
        overflow-x: hidden;
        transition: 0.5s ease;
        z-index: 1000;
    }

    /* When menu is open */
    .overlay.open {
        width: 250px;
        /* adjust width as needed */
    }

    /* Menu items */
    .menu-items {
        list-style: none;
        padding: 60px 20px;
    }

    .menu-items li {
        margin: 20px 0;
    }

    .menu-items li a {
        color: white;
        text-decoration: none;
        font-size: 17px;
        font-family: var(--font-primary);
    }

    /* Mobile Header container */
    #mobileMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background: var(--bs-header);
        backdrop-filter: blur(15px);
        color: white;
        position: relative;
        z-index: 0;
        width: auto;
    }


    .topHeaderStyle {
        position: relative;
        z-index: 11400;
    }

    /*-----Header End-----------*/

    /*---SectionHero---*/

    .sectionHeroChild {
        flex-direction: column;
    }

    .heroleft {
        max-width: 326px;
        justify-items: center;
        text-align: center;
        padding: 62px 0px 41px 0px;
    }

    .heroright {
        padding-bottom: 102px;
    }

    .heroright img {
        width: 371px;
    }


    /*---------Section Two---------*/


    #sectionHeroTwo {
        margin: 102px 0px 0px 0px !important;
    }

    .sectionHeroTwochild {
        flex-direction: column;
    }

    .rightlogo {
        width: 300px !important;
    }

    .rightlogo span {
        width: 393px !important;
    }

    /*---SectionThree---*/
    .threeTwo {
        flex-direction: column;
    }

    .threeOne p {
        max-width: 351px;
        margin-bottom: 35px;
    }

    .myclgCard {
        width: 350px !important;
    }

    .paraTwo {
        padding: 0px 17px !important;
    }

    .myclgOne {
        padding-bottom: 20px;
    }

    .myclgTwo img {
        width: 342px;
        height: 228px;
    }

    .myclgTwoChild {
        max-width: 159px;
        font-size: 12px;
        padding: 7px !important;
        transform: translateY(-90px) translateX(13px) !important;
    }

    .myclgTwoChild .topBtn {
        font-size: 9px;
    }

    .myclgTwoChild svg {
        font-size: 10px;
    }

    .sectionFourMain {
        height: 750px !important;
    }

    .sectionFourMainChild {
        flex-direction: column;
    }

    .fourOne {
        max-width: 326px !important;
        margin-left: 4px;
        padding: 20px 20px !important;
        max-height: 314px;
    }

    .fourTwo {
        margin-bottom: 150px;
    }

    .cardOne {
        width: 108px !important;
        height: 100px !important;
    }

    .cardOne p {
        font-size: 13px !important;
        width: 118px !important;
    }

    .listIcon {
        background: var(--textcolorOne);
        padding: 5px !important;
        border-radius: 50px;
        color: var(--primary);
        margin-bottom: 10px !important;
    }


    /*---------------------*/
    .aryaClgImageStyle {
        flex-direction: column;
        row-gap: 20px;
    }

    .react-tabs__tab-panel--selected {
        display: block;
        justify-items: center;
    }

    .sectionFiveChild ul {
        column-gap: 9px !important;
    }

    .sectionFiveChild ul li {
        font-size: 10px !important;
    }

    .sectionFiveChild .react-tabs__tab-list {
        margin: 45px 0px 39px 4px;
        justify-content: left;
        padding: 0px 6px !important;
    }

    /*-------------------*/
    .sectionSixMain .alpara {
        width: 353px !important;
    }

    .alMain {
        flex-direction: column;
    }

    .alcard {
        width: 309px !important;
        margin-left: 5px;
    }

    .alcard img {
        height: 55px !important;
    }

    /*--------------*/
    .sectionSevenChild img {
        max-height: 58px;
        max-width: 58px;
    }

    .sectionSevenChild .bgBrand {
        max-width: 43px !important;
        height: 53px !important;
        /* padding: 20px !important; */
        padding-left: 20px !important;
    }

    #sectionSeven .bgBrand {
        max-width: 188px !important;
        /* padding: 17px 19px  !important; */
        column-gap: 20px !important;
    }

    #sectionSeven .leftlogo {
        max-width: 708px !important;
        justify-content: space-around;
    }

    #sectionSeven .sectionSevenChild h2 {
        padding-bottom: 0px !important;
    }

    #sectionSeven .sectionSevenChild {
        padding: 50px 0px !important;
    }

    .sectionSevenChild h2 {
        padding-bottom: 20px !important;
    }

    /*-------------*/
    .eightMain h2 {
        text-align: center;
    }

    .eghtBtn {
        display: flex;
        column-gap: 20px;
        padding: 0px 20px 20px 20px !important;
    }

    /*---------------*/
    .sectionFiveMain {
        max-width: 379px;
    }

    .sectionFiveMain .react-tabs__tab-list {
        justify-content: center;
    }

    .mainImageChild img {
        width: 108px;
    }

    .mainImageMain {
        display: flex;
        flex-direction: column;
    }

    .galleryTwo img {
        width: 166px;
    }

    /*--------------*/

    #footer {
        display: none;
        justify-content: center;
    }

    #mobFooter {
        display: block;
    }

    .footerIcons {
        column-gap: 20px;
        justify-self: anchor-center;
    }

    .footerMain {
        padding: 1px !important;
    }

    #mobFooter .footerChild {
        display: block;
        justify-content: space-around;
    }

    .footerListStyle {
        display: flex;
        margin: 60px 0px;
    }

    #mobFooter .footerChild {
        padding: 20px 20px;
    }

    #mobFooter .footerOneSection {
        width: 100%;
    }

    #mobFooter .footerTwoSection {
        width: 50%;
    }

    #mobFooter .footerThreeSection {
        width: 50%;
    }

    #mobFooter .footerFourSection {
        width: 100%;
    }

    #mobFooter h6 {
        text-align: center;
    }

    #mobFooter p {
        text-align: center;
    }

    #mobFooter ul li {
        text-align: center;
    }

    #mobFooter .footerlogoHead {
        flex-direction: column;
        margin-top: 50px;
    }

    #mobFooter .footerlogoHead p {
        margin-top: 50px;
    }
}